In [25]:
import pandas as pd
import gzip

In [26]:
data_file = "./data/2015.02.19.NGF6.csv.gz"
data_csv = gzip.open(data_file, 'r')
data = pd.read_csv(data_csv, parse_dates={'DateTime': ['Date[G]', 'Time[G]']})
data = data.set_index('DateTime')
data_csv.close()

In [27]:
data.tail()

,#RIC,GMT Offset,Type,Price,Volume,Bid Price,Bid Size,Ask Price,Ask Size,Qualifiers,New Price,New Vol
DateTime,,,,,,,,,,,,
2015-02-19 23:00:15.911660,NGF6,-5,Quote,NaN,NaN,3.324,1,NaN,NaN,BBO[MKT_ST_IND],NaN,NaN
2015-02-19 23:04:07.915206,NGF6,-5,Quote,NaN,NaN,3.322,1,NaN,NaN,BBO[MKT_ST_IND],NaN,NaN
2015-02-19 23:12:17.686884,NGF6,-5,Quote,NaN,NaN,3.312,1,NaN,NaN,BBO[MKT_ST_IND],NaN,NaN
2015-02-19 23:31:59.319521,NGF6,-5,Quote,NaN,NaN,3.320,1,NaN,NaN,BBO[MKT_ST_IND],NaN,NaN
2015-02-19 23:49:24.193869,NGF6,-5,Quote,NaN,NaN,3.312,1,NaN,NaN,BBO[MKT_ST_IND],NaN,NaN

In [28]:
data.head()

,#RIC,GMT Offset,Type,Price,Volume,Bid Price,Bid Size,Ask Price,Ask Size,Qualifiers,New Price,New Vol
DateTime,,,,,,,,,,,,
2015-02-19 00:01:02.423245,NGF6,-5,Quote,NaN,NaN,3.353,3,NaN,NaN,NaN,NaN,NaN
2015-02-19 00:27:43.608923,NGF6,-5,Quote,NaN,NaN,3.354,1,NaN,NaN,NaN,NaN,NaN
2015-02-19 00:27:43.608923,NGF6,-5,Quote,NaN,NaN,3.353,3,NaN,NaN,NaN,NaN,NaN
2015-02-19 00:27:59.712122,NGF6,-5,Quote,NaN,NaN,3.354,1,NaN,NaN,NaN,NaN,NaN
2015-02-19 00:27:59.721896,NGF6,-5,Quote,NaN,NaN,3.353,3,NaN,NaN,NaN,NaN,NaN

In [29]:
data.Type.unique()

array(['Quote', 'Trade', 'Open Interest', 'Correction'], dtype=object)

In [30]:
data.Qualifiers.unique()

array([nan, 'T [OPNRNGTP];Open[USER]', 'GCT[IRGCOND]',
       ' [HIGHTP_1]; [LOWTP_1];   [MKT_ST_IND];Low[USER]',
       '   [MKT_ST_IND]', 'BBO[MKT_ST_IND]',
       'GCT[IRGCOND];BBO[MKT_ST_IND]', '611[IRGCOND];BBO[MKT_ST_IND]',
       'IND[MKT_ST_IND]', '401[IRGCOND];IND[MKT_ST_IND]',
       '  [CLSRNGTP];   [IRGCOND];IND[MKT_ST_IND];  [OPNRNGTP]'], dtype=object)

In [31]:
data[data.Type == 'Open Interest']

,#RIC,GMT Offset,Type,Price,Volume,Bid Price,Bid Size,Ask Price,Ask Size,Qualifiers,New Price,New Vol
DateTime,,,,,,,,,,,,
2015-02-19 07:12:18.675012,NGF6,-5,Open Interest,NaN,44952,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
data[data.Type == 'Correction']

,#RIC,GMT Offset,Type,Price,Volume,Bid Price,Bid Size,Ask Price,Ask Size,Qualifiers,New Price,New Vol
DateTime,,,,,,,,,,,,
2015-02-19 22:44:31.422194,NGF6,-5,Correction,3.389,NaN,NaN,NaN,NaN,NaN,401[IRGCOND];IND[MKT_ST_IND],NaN,NaN
2015-02-19 22:45:04.015431,NGF6,-5,Correction,0.000,0,NaN,NaN,NaN,NaN,[CLSRNGTP]; [IRGCOND];IND[MKT_ST_IND]; [O...,NaN,NaN

In [33]:
grouped_by_type = data.groupby('Type')

In [34]:
types = grouped_by_type['#RIC'].count()
types

Type
Correction            2
Open Interest         1
Quote            162393
Trade              5634
Name: #RIC, dtype: int64

In [35]:
fill_prob = float(types['Trade'])/types['Quote']
fill_prob

0.034693613640982064

In [36]:
data.between_time('12:58:28', '12:59')

,#RIC,GMT Offset,Type,Price,Volume,Bid Price,Bid Size,Ask Price,Ask Size,Qualifiers,New Price,New Vol
DateTime,,,,,,,,,,,,
2015-02-19 12:58:29.671651,NGF6,-5,Trade,3.414,1,NaN,NaN,NaN,NaN,GCT[IRGCOND],NaN,NaN
2015-02-19 12:58:29.671651,NGF6,-5,Trade,3.414,7,NaN,NaN,NaN,NaN,GCT[IRGCOND],NaN,NaN
2015-02-19 12:58:29.671651,NGF6,-5,Trade,3.414,2,NaN,NaN,NaN,NaN,GCT[IRGCOND],NaN,NaN
2015-02-19 12:58:29.671651,NGF6,-5,Quote,NaN,NaN,3.410,3,NaN,NaN,NaN,NaN,NaN
2015-02-19 12:58:29.671651,NGF6,-5,Quote,NaN,NaN,NaN,NaN,3.414,2,NaN,NaN,NaN
2015-02-19 12:58:29.671651,NGF6,-5,Quote,NaN,NaN,3.410,2,NaN,NaN,NaN,NaN,NaN
2015-02-19 12:58:29.671651,NGF6,-5,Quote,NaN,NaN,3.410,1,NaN,NaN,NaN,NaN,NaN
2015-02-19 12:58:30.681347,NGF6,-5,Quote,NaN,NaN,3.409,3,NaN,NaN,NaN,NaN,NaN
2015-02-19 12:58:30.681347,NGF6,-5,Quote,NaN,NaN,3.409,4,NaN,NaN,NaN,NaN,NaN
2015-02-19 12:58:53.713205,NGF6,-5,Quote,NaN,NaN,NaN,NaN,3.414,3,NaN,NaN,NaN
2015-02-19 12:58:54.453462,NGF6,-5,Quote,NaN,NaN,NaN,NaN,3.414,2,NaN,NaN,NaN

In [37]:
data[data.Type == 'Trade'].Qualifiers.unique()

array(['T [OPNRNGTP];Open[USER]', nan, 'GCT[IRGCOND]',
       ' [HIGHTP_1]; [LOWTP_1];   [MKT_ST_IND];Low[USER]',
       'GCT[IRGCOND];BBO[MKT_ST_IND]', 'BBO[MKT_ST_IND]',
       '611[IRGCOND];BBO[MKT_ST_IND]', 'IND[MKT_ST_IND]'], dtype=object)

In [38]:
data.columns

Index(['#RIC', 'GMT Offset', 'Type', 'Price', 'Volume', 'Bid Price',
       'Bid Size', 'Ask Price', 'Ask Size', 'Qualifiers', 'New Price',
       'New Vol'],
      dtype='object')

In [39]:
data.Type.unique()

array(['Quote', 'Trade', 'Open Interest', 'Correction'], dtype=object)

In [40]:
data[data.Type == 'Correction']

,#RIC,GMT Offset,Type,Price,Volume,Bid Price,Bid Size,Ask Price,Ask Size,Qualifiers,New Price,New Vol
DateTime,,,,,,,,,,,,
2015-02-19 22:44:31.422194,NGF6,-5,Correction,3.389,NaN,NaN,NaN,NaN,NaN,401[IRGCOND];IND[MKT_ST_IND],NaN,NaN
2015-02-19 22:45:04.015431,NGF6,-5,Correction,0.000,0,NaN,NaN,NaN,NaN,[CLSRNGTP]; [IRGCOND];IND[MKT_ST_IND]; [O...,NaN,NaN

In [41]:
data.between_time( '22:45:00', '22:46:00')

,#RIC,GMT Offset,Type,Price,Volume,Bid Price,Bid Size,Ask Price,Ask Size,Qualifiers,New Price,New Vol
DateTime,,,,,,,,,,,,
2015-02-19 22:45:04.015431,NGF6,-5,Correction,0,0,NaN,NaN,NaN,NaN,[CLSRNGTP]; [IRGCOND];IND[MKT_ST_IND]; [O...,NaN,NaN

In [43]:
data[data.Type == 'Quote'].Volume.unique()

array([ nan])

In [45]:
data['New Vol'].unique()

array([ nan])